.abou {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.name {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgb(219, 224, 224)
  }
  .about-card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(240, 248, 255, 0.241);
  }
  h2 {
    color: black;
    text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
  }
  a {
    color: #0b0089;
    text-decoration: none;
  }