.App {
  font-family: sans-serif;
  text-align: center;
  background-image: url(https://res.cloudinary.com/dulzlnv9t/image/upload/v1660740535/2841151_urkwye.png);
background-size: no-repeat;
}

/* body {
  background-image: url(https://res.cloudinary.com/dulzlnv9t/image/upload/v1660610178/Curr%C3%ADculum_Vitae_moderno_en_color_azul_a1zxqu.png);
} */